body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1% 7% 3% 7%;
    background-color: #20232A;
}

.container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #A01D26;
}

.links ul {
    display: flex;
    padding-left: 0;
    gap: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f4f4ef;
    transition: 1s;
}

a:hover {
    color:#A01D26;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: space-between;
    padding-bottom: 36px;
}

.picture {
    width: 450px;
    height: 300px;
}

.picture img {
    width: 100%;
    height: 100%;
}

.title1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #f4f4ef;
}

.description1 {
    font-size: 1.3em;
    padding: 10px 0;
    color: #f4f4ef;
    opacity: 70%;
}

button {
    background-color: #A01D26;
    color: #f4f4ef;
    padding: 10px;
    border-radius: 95%;
    transition: 1s;
    font-size: 1em;
}

button:hover {
    background-color: #f4f4ef;
    color: #A01D26;
}

.first-section {
    display: flex;
    flex-direction: column;
    padding: 46px;
    background-color: #f4f4ef;
}

.title2 {
    text-align: center;
    padding-bottom: 36px;
    font-size: 2em;
    font-weight: bold;
    color: #A01D26
}

.info {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.item img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    transition: 1s;
}

.about {
    color: #A01D26;
    font-size: 1em;
    font-weight: bold;
    transition: 1s;
}

.second-section {
    background-color: #ACBEBE;
    padding: 50px 100px;
}

.quote {
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    color: #20232A;
    text-align: center;
}

.author {
    font-size: 2em;
    color: #20232A;
    text-align: center;
}

.third-section {
    background-color: #f4f4ef;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color:#ACBEBE;
    padding: 16px;
    color:#A01D26;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 50%;
    flex-wrap: wrap;
}

.title3 {
    font-size: 1.5em;
    font-weight: bold;
}

.description3 {
    opacity: 60%;
}

.card button {
    flex-shrink: 0;
}

.footer {
    background-color: #20232A;
    height: 72px;
    color:#f4f4ef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}